.slideshow {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.slide-image {
  max-width: 50%;
  max-height: 50%;
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  font-size: 18px;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}







